Source: libqapt
Section: kde
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: José Manuel Santamaría Lema <panfaust@gmail.com>,
           Kai Wasserbäch <curan@debian.org>
Build-Depends: cmake (>= 2.8.4+dfsg.1-3),
               debhelper (>= 9),
               extra-cmake-modules,
               kio-dev,
               libapt-pkg-dev (>= 0.8.0),
               libdebconf-kde-dev (>= 1.0.0),
               libglib2.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               libkf5auth-dev,
               libkf5coreaddons-dev,
               libkf5i18n-dev,
               libkf5runner-dev,
               libkf5textwidgets-dev,
               libkf5widgetsaddons-dev,
               libkf5windowsystem-dev,
               libpolkit-qt5-1-dev,
               libxapian-dev,
               pkg-config,
               pkg-kde-tools (>> 0.15.15),
               plasma-framework-dev,
               qttools5-dev,
               qttools5-dev-tools
Standards-Version: 3.9.4
Homepage: https://projects.kde.org/projects/extragear/sysadmin/libqapt/
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-extras/qapt.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/kde-extras/qapt

Package: libqapt3
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: libqapt3-runtime
Description: QApt library package
 LibQApt is a Qt wrapper around the libapt-pkg library as well as an APT
 implementation using libapt-pkg. The aim is to provide a sane API for
 package management to ease the development of package managers written in Qt
 and C++
 .
 This package contains the QApt library

Package: libqapt-dev
Section: libdevel
Architecture: any
Depends: libapt-pkg-dev, libqapt3 (= ${binary:Version}), ${misc:Depends}
Description: Development headers for the QApt library
 LibQApt is a Qt wrapper around the libapt-pkg library as well as an APT
 implementation using libapt-pkg. The aim is to provide a sane API for
 package management to ease the development of package managers written in Qt
 and C++
 .
 This package contains the development headers for the QApt library

Package: libqapt3-runtime
Architecture: any
Depends: polkit-kde-agent-1 | policykit-1-gnome,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Runtime components for the QApt library
 LibQApt is a Qt wrapper around the libapt-pkg library as well as an APT
 implementation using libapt-pkg. The aim is to provide a sane API for
 package management to ease the development of package managers written in Qt
 and C++
 .
 This package contains the runtime components necessary for applications using
 the QApt library to run.

Package: qapt-utils
Architecture: any
Depends: kde-thumbnailer-deb,
         plasma-runner-installer,
         qapt-batch,
         qapt-deb-installer,
         ${misc:Depends}
Recommends: gstreamer-qapt
Description: complete collection of QApt package management utilities
 QApt is a collection of tools and a library providing a wrapper around
 APT. The intention is to ease the use of APT in Qt-based programs.
 .
 This is a metapackage depending on all of QApt's extra package management
 utilities.

Package: qapt-batch
Architecture: any
Depends: libqapt3-runtime, ${misc:Depends}, ${shlibs:Depends}
Description: Batch package manager for KDE
 QApt is a collection of tools and a library providing a wrapper around
 APT. The intention is to ease the use of APT in Qt-based programs.
 .
 QApt Batch is a simple GUI for doing batch package management operations.
 It can install and remove packages, as well as update the package cache via a
 command line interface. It also has an attach function invokable via the
 command line. QApt Batch is a drop-in replacement for the "install-package"
 batch package management tool.

Package: qapt-deb-installer
Architecture: any
Depends: libqapt3-runtime, ${misc:Depends}, ${shlibs:Depends}
Description: tool for installing deb files
 QApt is a collection of tools and a library providing a wrapper around
 APT. The intention is to ease the use of APT in Qt-based programs.
 .
 The QApt deb installer allows you to install local .deb files. The QApt Deb
 Installer resolves and downloads dependencies. The APT package manager does
 the same, but only for remote packages.

Package: plasma-runner-installer
Architecture: any
Depends: command-not-found, qapt-batch, ${misc:Depends}, ${shlibs:Depends}
Description: KRunner plugin for installing packages
 QApt is a collection of tools and a library providing a wrapper around
 APT. The intention is to ease the use of APT in Qt-based programs.
 .
 This KRunner plugin offers the option to install an application if its
 command is typed in to KRunner and the application is not already
 installed.

Package: kde-thumbnailer-deb
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: dolphin, konqueror
Description: KDE plugin to show thumbnails of Debian package files
 QApt is a collection of tools and a library providing a wrapper around
 APT. The intention is to ease the use of APT in Qt-based programs.
 .
 A plugin for KDE file managers (Dolphin and Konqueror) to preview Debian
 packages (.deb files) as thumbnails.

Package: gstreamer-qapt
Architecture: any
Depends: libqapt3-runtime, ${misc:Depends}, ${shlibs:Depends}
Replaces: gstreamer0.10-qapt (<< 2.1.70-0ubuntu5~)
Breaks: gstreamer0.10-qapt (<< 2.1.70-0ubuntu5~)
Description: GStreamer plugin to install codecs using QApt
 QApt is a collection of tools and a library providing a wrapper around
 APT. The intention is to ease the use of APT in Qt-based programs.
 .
 This package provides a plugin for the GStreamer multimedia framework
 to search and to install audio and video codecs.

Package: gstreamer0.10-qapt
Depends: gstreamer-qapt, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.

Package: qapt-dbg
Section: debug
Architecture: any
Priority: extra
Depends: libqapt3 (= ${binary:Version}), ${misc:Depends}
Recommends: kdelibs5-dbg
Description: QApt debugging symbols
 QApt is a collection of tools and a library providing a wrapper around
 APT. The intention is to ease the use of APT in Qt-based programs.
 .
 This package contains debugging symbols for QApt.
 When QApt crashes, in most cases this package is
 needed to get a backtrace that is useful for developers. If you have
 experienced a QApt crash without this package
 installed, please install it, try to reproduce the problem and fill a bug
 report with a new backtrace attached.
